body {
  background-color: $background2;
}

ul,
ol,
li {
  padding-left: 0;
  list-style: none;
}
a {
  color: $foreground;
  text-decoration: none;
  &:focus,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

::selection {
 color: $background2;
 background: $pink;
 text-shadow: none;
}
