$dark: #221d19;
$background: #2e231b;
$background2: #4d3829;
$foreground: #efeef1;
$line-highlight: #3e2c20;
$comment: #796b68;
$cm: #887976;
$gutter-elt: #764d42;
$string: #a56e5f;
$attribute: #ea88b9;
$property: #d99f81;
$error: #f04841;
$tag: #fe728b;
$selection: #5c3c2b;
$variable: #c092ce;
// $pink: #fe9cad;
$pink: #fe9cc1;
$highlight-bg: #5d4033;
