<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <title>Cake—Yummy syntax theme</title>

  <meta name="title" content="Cake">
  <meta name="description" content="Yummy syntax theme">
  <meta name="author" content="Daniel Pintilei">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <link rel="icon" href="favicon.ico">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

  <div class="container-fluid">



    <div class="row">
      <div id="landing" class="col-xs-12">
        <div class="container">
          <img id="cake" src="img/cake.svg" alt="cake">
          <header>Cake</header>
          <h1>Yummy syntax theme for Atom, Brackets, Sublime Text and Visual Studio Code</h1>
        </div>
      </div>
    </div>



    <div class="row cream">
      <img src="img/cream.svg" alt="cream" />
    </div>



    <div id="second" class="row">
      <div class="container-ed">
        <div class="row">

          <div class="editor col-sm-3">
            <div class="icon-wrapper current" data-tab="tab-1">
              <a href="javascript:void(0)"><img src="img/atom.svg" alt=""></a>
            </div>
          </div>

          <div class="editor col-sm-3">
            <div class="icon-wrapper" data-tab="tab-2">
              <a data-tab="tab-2" href="javascript:void(0)"><img src="img/brackets.svg" alt=""></a>
            </div>
          </div>

          <div class="editor col-sm-3">
            <div class="icon-wrapper" data-tab="tab-3">
              <a data-tab="tab-3" href="javascript:void(0)"><img src="img/sublime.svg" alt=""></a>
            </div>
          </div>

          <div class="editor col-sm-3">
            <div class="icon-wrapper" data-tab="tab-4">
              <a data-tab="tab-4" href="javascript:void(0)"><img src="img/vsc.svg" alt=""></a>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="row dark-bg">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">

          <div id="tab-1" class="col-md-6 col-sm-12 info tab-content current">
            <div class="install">
              <h2>Atom</h2>
              <h3>Install</h3>
              <ul>
                <p class="lh">Go to <span class="highlight">&nbsp;&nbsp;Packages&nbsp;&nbsp;>&nbsp;&nbsp;Settings View&nbsp;&nbsp;>&nbsp;&nbsp;Install Packages/Themes&nbsp;&nbsp;</span></p>
                <p>Click the <span class="highlight">&nbsp;&nbsp;Themes&nbsp;&nbsp;</span> button</p>
                <p>Search for <span class="highlight">&nbsp;&nbsp;Cake&nbsp;&nbsp;</span></p>
                <p>Click <span class="highlight">&nbsp;&nbsp;Install&nbsp;&nbsp;</span></p>
              </ul>
            </div>
          </div>

          <div id="tab-2" class="col-md-6 col-sm-12 info tab-content">
            <div class="install">
              <h2>Brackets</h2>
              <h3>Install</h3>
              <ul>
                <p>Go to <span class="highlight">&nbsp;&nbsp;File&nbsp;&nbsp;>&nbsp;&nbsp;Extension Manager&nbsp;&nbsp;</span></p>
                <p>Select the <span class="highlight">&nbsp;&nbsp;Themes&nbsp;&nbsp;</span> tab</p>
                <p>Search for <span class="highlight">&nbsp;&nbsp;Cake&nbsp;&nbsp;</span></p>
                <p>Click <span class="highlight">&nbsp;&nbsp;Install&nbsp;&nbsp;</span></p>
              </ul>
            </div>
          </div>

          <div id="tab-3" class="col-md-6 col-sm-12 info tab-content sublime">
            <div class="install">
              <h2>Sublime Text</h2>
              <h3>Manual Install</h3>
              <ul>
                <p>Save the <a href="https://www.dropbox.com/s/lm4469xs8etx2ny/Cake.tmTheme?dl=1">Cake.tmTheme</a> file</p>
                <p>Go to <span class="highlight">&nbsp;&nbsp;Preferences&nbsp;&nbsp;>&nbsp;&nbsp;Browse Packages&nbsp;&nbsp;</span></p>
                <p>Move <span class="highlight">&nbsp;&nbsp;Cake.tmTheme&nbsp;&nbsp;</span> into the <span class="highlight">&nbsp;&nbsp;Packages&nbsp;&nbsp;</span> folder&nbsp;&nbsp;</p>
              </ul>
            </div>
          </div>

          <div id="tab-4" class="col-md-6 col-sm-12 info tab-content">
            <div class="install">
              <h2>Visual Studio Code</h2>
              <h3>Install</h3>
              <ul>
                <p>Go to <span class="highlight">&nbsp;&nbsp;View&nbsp;&nbsp;>&nbsp;&nbsp;Command Pallete&nbsp;&nbsp;</span></p>
                <p>Type <span class="highlight">&nbsp;&nbsp;ext install&nbsp;&nbsp;</span> then hit Enter</p>
                <p>Type <span class="highlight">&nbsp;&nbsp;Cake&nbsp;&nbsp;</span></p>
                <p><span class="highlight">&nbsp;&nbsp;Click&nbsp;&nbsp;</span></p>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 info">
            <div class="example">
              <span>&lt;</span><span>!</span><span>doctype</span> <span>html</span><span>&gt;</span>
              <br>
              <span>&lt;</span><span class="tag">html</span> <span class="attribute">lang</span>=<span class="string"><span>"</span><span>en</span><span>"</span></span>>
              <br> &nbsp;&nbsp;
              <span>&lt;</span><span class="tag">head</span><span>&gt;</span>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;
              <span>&lt;</span><span class="tag">meta</span> <span class="attribute">charset</span>=<span class="string">"utf-8"</span><span>&gt;</span>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;
              <span>&lt;</span><span class="tag">meta</span> <span class="attribute">name</span>=<span class="string">"viewport"</span> <span class="attribute">content</span>=<span class="string">"width=device-width, initial-scale=1"</span><span>&gt;</span>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="comment">&lt;</span><span class="comment"><span>!</span>-- have some cake with your syntax --</span><span class="comment">&gt;</span>
              <br>
              <div class="active-line">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span>&lt;</span><span class="tag">title</span><span>&gt;</span>Cake<span>&lt;</span>/<span class="tag">title</span><span>&gt;</span>
              </div>
              &nbsp;&nbsp;
              <span>&lt;</span>/<span class="tag">head</span><span>&gt;</span>
              <br> &nbsp;&nbsp;
              <span>&lt;</span><span class="tag">body</span><span>&gt;</span>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;
              <span>&lt;</span><span class="tag">h1</span>>Delicious!</h1<span>&gt;</span>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;
              <span>&lt;</span><span class="tag">script</span> <span class="attribute">src</span>=<span class="string">"</span><span class="variable">https://cake.land/chocolate.chips.js</span><span class="string">"</span><span>&gt;</span>&lt;<span>/</span><span class="tag">script</span><span>&gt;</span>
              <br>&nbsp;&nbsp;
              <span>&lt;</span>/<span class="tag">body</span><span>&gt;</span>
              <br>
              <span>&lt;</span>/<span class="tag">html</span><span>&gt;</span>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 info2">
            <div class="example">
              <span><span class="attribute">.cake</span> <span class="tag">span</span> {</span>
              <br>
              &nbsp;&nbsp;<span><span class="property">position</span><span class="cm">:</span> <span class="property">absolute</span><span class="cm">;</span></span>
              <br>
              &nbsp;&nbsp;<span><span class="property">left</span><span class="cm">:</span> <span class="attribute">12</span><span class="cm">;</span></span>
              <br>
              &nbsp;&nbsp;<span><span class="property">right</span><span class="cm">:</span> <span class="attribute">12</span><span class="cm">;</span></span>
              <br>
              &nbsp;&nbsp;<span><span class="property">border-radius</span><span class="cm">:</span> <span class="property">inherit</span><span class="cm">;</span></span>
              <br>
              &nbsp;&nbsp;<span><span class="property">background-color</span><span class="cm">:</span> <span class="tag">$color-background</span><span class="cm">;</span></span>
              <br>
              <span>}</span>
              <br>
              <span><span class="attribute">.icing</span> <span class="tag">span</span><span class="attribute">::before</span> {</span>
              <br>
              &nbsp;&nbsp;<span><span class="property">top</span><span class="cm">:</span> <span class="attribute">12px</span><span class="cm">;</span></span>
              <br>
              <span>}</span>
              <br>
              <span><span class="variablejs">@media</span> only <span class="attribute">screen</span> and (<span class="property">min-width</span><span class="cm">:</span> <span class="attribute">800px</span>) {</span>
              <br>
              &nbsp;&nbsp;<span><span class="attribute">.cherry</span> {</span>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;<span><span class="property">display</span><span class="cm">:</span> <span class="property">none</span><span class="cm">;</span></span>
              <br>
              &nbsp;&nbsp;<span>}</span>
              <br>
              <span>}</span>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 info2">
            <div class="example">
              <span><span class="variablejs">var</span> <span class="attribute">SURPRISE</span> <span class="property">=</span> <span class="string">'Cake'</span>;</span>
              <br>
              <span>(<span class="variablejs">function</span> (cake, factory) {</span>
              <br>
              &nbsp;&nbsp;<span><span class="variablejs">if</span> (<span class="variablejs">typeof</span> define <span class="property">===</span> <span class="string">'function'</span> <span class="property">&amp;&amp;</span> <span class="tag">define</span>.<span class="tag">amd</span>) {</span>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;<span><span class="property">define</span>([<span class="string">'exports'</span>, <span class="string">'presents'</span>, <span class="string">'./piece'</span>], factory);</span>
              <br>
              &nbsp;&nbsp;<span>} <span class="variablejs">else if</span> (<span class="variablejs">typeof</span> <span class="tag">exports</span> <span class="property">!==</span> <span class="string">'undefined'</span> <span class="property">&amp;&amp;</span> <span class="variablejs">typeof</span> <span class="tag">presents</span> <span class="property">!==</span> <span class="string">'undefined'</span>) {</span>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;<span><span class="property">factory</span>(<span class="tag">exports</span>, <span class="tag">presents</span>, <span class="property">require</span>(<span class="string">'./piece'</span>));</span>
              <br>
              &nbsp;&nbsp;<span>} <span class="variablejs">else</span> {</span>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;<span><span class="variablejs">var</span> mod <span class="property">=</span> {</span>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>exports<span class="property">:</span> {}</span>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;<span>};</span>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;<span><span class="property">factory</span>(<span class="tag">mod</span>.<span class="tag">exports</span>, mod, <span class="tag">cake</span>.<span class="tag">Piece</span>);</span>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;<span><span class="tag">cake</span>.<span class="tag">serve</span> = <span class="tag">mod</span>.<span class="tag">exports</span>;</span>
              <br>
              &nbsp;&nbsp;<span>}</span>
              <br>
              <span>})</span>
            </div>
          </div>

        </div>
      </div>
    </div>



  </div>



  <footer class="container-fluid footer">
    <span>MIT ©&nbsp;<a href="https://danielpintilei.cf/">Daniel Pintilei</a></span>
    <a href="https://github.com/DanielPintilei/Cake">View on GitHub</a>
  </footer>

  {{> scripts}}

</body>

</html>
